body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-weight: 800;
    font-size: 4rem;
}

h2 {
    font-weight: 800;
    font-size: 2.5rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    font-weight: 300;
    font-size: 1.25rem;
}


.side-menu a {
    font-weight: 300;
}

#layout {
    display: flex;
}

.side-menu {
    width: 250px;
    height: 100vh;
    background-color: #111;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navigation links */
.side-menu a {
    padding: 15px 15px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

/* Content area */
.content {
    margin-left: 250px;
    padding: 40px;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 40px;
}

@media screen and (max-height: 450px) {
    .side-menu { padding-top: 15px; }
    .side-menu a { font-size: 18px; }
}

.skills i {
    font-size: 60px;
    margin: 15px;
}

.project-card {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background: #fafafa;
}

.project-card p,
.project-card .project-image {
    margin-top: 15px;
}

.project-header {
    list-style: none;
}

.project-header::-webkit-details-marker {
    display: none;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.dropdown-arrow {
    width: 24px;
    height: 24px;
    transition: transform 0.25s ease;
    fill: #000;
}

.dropdown-arrow {
    opacity: 100%;
}

.project-header:hover .dropdown-arrow {
    opacity: 1;
}

.project-image img {
    max-width: 100%;
    height: auto;
}

.social-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.social-links img:hover {
    transform: scale(1.15);
}
